/* HOMEPAGE STYLES */

/* TOP BANNER STYLES */
#mainBanner{
    display: flex;
    position: relative;
}

.bannerImage{
    width: 100%;
    margin: auto;
    vertical-align: top;
}

.bannerText{
    color:white;
    font-size: 4.5em;
    position: absolute;
    font-weight: bold;
    font-style: italic;
    left: 3%;
    top: 3.5%;
    transform: rotate(-5deg);
}

#mainBanner {
    width: 100%;
    margin: auto;
}

.bannerSlide {
    display: none;
  }
  
.bannerPrev, .bannerNext {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 2.25em;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: background-color 0.5s;
}

.bannerNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.bannerPrev:hover, .bannerNext:hover {
    background-color: rgba(2, 62, 125, 0.7);
}


/* SIDEBAR STYLES */
#collections{
    flex: .5 0 0;
    text-align: center;
    background-color: #023E7D;
    padding-top: 1em;
    color: white;
    width: 100%;
}

#collections h3{
    font-size: 1.5em;
    margin: 0 .25em;
    margin-bottom: 1em;
    margin-top: .32em;
}

#collectionList{
    flex-flow: column wrap;
    margin: 0 auto;
    width: 100%;
    padding: 0 1em;
    justify-content: space-between;
    height: 85%;   
}

.collectionLink{
    list-style-type: none;
    transition: transform .2s;
    height: fit-content;   
}

.collectionLink img {

    vertical-align: top;

}

.collectionLink:hover
{

    transform: scale(1.075);
}


.collectionLogo{
    width: 8em;
    border: 2px solid white;
}

#collectionListLink,#collectionListLink:visited {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: #003166;
    border-radius: 5px;
    width: 5.35em;
}

#collectionListLink:hover, #collectionListLink:active {
    border: 2px solid #eceaea;
    background-color: #eceaea;
}



/* FEATURED PRODUCT STYLES */
#featured{
    flex: 5 0 0;
    width: 100%;
}

#featuredContent{
    background-color: white;
    max-width:  85%;
    margin: 0 auto;
    
}

#topFeaturedProducts{
    justify-content: space-between;
    margin-bottom: 2em;
}

.featuredProducts{
    justify-content: space-between;
    margin: 0 auto;
}

#featured h2 {
    font-size: 2em;
    padding: .5em 0;
}



.productBox {
    margin-bottom: 2em;
}

.productLink{
    
    text-decoration: none;
    margin: 1em 0;
}

.topProductImage{
    display: block;
    width: 413px;
    margin: 0 auto;
    border: 3px solid #023E7D;
}



.topProductName, .topProductName:visited {
    margin: 0 auto;
    padding: .5em;
    width: 413px;
    color: white;
    background-color: #023E7D;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.topProductPrice{
    font-weight: bold;
    width: 413px;
    margin: 0 auto;
    margin-top: .5em;
    font-size: 1.2em;
    display: none;
}

.productImage{
    display: block;
    width: 180px;
    margin: 0 auto;
    border: 3px solid #023E7D;
}

.productName, .productName:visited {
    margin: 0 auto;
    padding: .5em;
    width: 180px;
    color: white;
    background-color: #023E7D;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productPrice{

    font-weight: bold;
    width: 180px;
    margin: 0 auto;
    margin-top: .5em;
    font-size: 1.2em;
    display: none;

}

.soldOutText{

    color:red;

}

.productBottomButton, .productBottomButton:visited {

    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background-color: #023E7D;
    color: white;
    margin: .25em auto 1.5em auto ;
    padding: .5em 1em;
    border-radius: 5px;
    transition: transform .2s;

}

.productBottomButton:hover
{
    background-color:#003166;
    transform: scale(1.075);
} 

.productBottomButton:active{
    background-color:#002855;
}


.topProductBox + .topProductBox{

    margin-left: 1em;
   
}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px ){
    
    /* Banner */

    .bannerText{
        font-size: 6.01vw;
    }
    
    .bannerPrev, .bannerNext{
        font-size: 3vw;
    }


    /* Collection Bar */
    #indexLayoutFlex{

        flex-direction: column;

    }

    #collections h3{
        display: none;
    }

    #featuredContent{
        max-width: 59em;
        padding: 0 2em;
    }

    #collections{

        padding-top: 0;
        color: white;

    }

    #collectionList{

        flex-direction: row;
        align-items: center;
        padding: 1em 1em;
    }

    .collectionLink{
        margin-top: 0;
        vertical-align: bottom;    
    }

    .collectionLink +    .collectionLink{

        margin-left: 1em;

    }

    .collectionLink:nth-child(6),  .collectionLink:nth-child(7),  .collectionLink:nth-child(8),  .collectionLink:nth-child(9){

        display: none;

    }
   
    
}


@media screen and (max-width: 980px ){

    /* Collection Bar */

    .collectionLink:nth-child(5){

        display: none;

    }

    .collectionLink{
        display: inline-block;
        margin-left: 0;
        width: 20%;
    }

    .collectionLink img{

        width: 80%;

    }

    .collectionLink + .collectionLink{
        margin-left: 0;
    }

    #collectionListLink{
        margin: 0 auto;
        width: auto;
        max-width: 5.35em;
        font-size: 2.5vw;
    }


   
    /* Product Rework */


    #featuredContent{
        max-width: 40em;
        padding: 0 2em;
    }

    #topFeaturedProducts{

        flex-flow: column nowrap;

    }

    .topProductBox + .topProductBox{

        margin-left: 0em;
        margin-top: 2em;
    }

    .topProductBox{
        height: 100%;
        border: 1px solid black;    
    }

    .topProductImage{
        width: 100%;

    }

    .topProductName{
        width: 100%;
        text-align: center;
    }

    /* Bottom Products */

    .featuredProducts{
        display: block;
    }

    .productBox{
        border: 1px solid black;
        width: fit-content;
        display: inline-block;
        white-space: nowrap;
        width: 48%;
    }


    .productImage{
        width: 100%;
        margin: 0;
    }

    .productBox:nth-child(even){
        float: right;
    }
    
    .productName, .productName:visited {
        width: 100%;
    }
    
    .productPrice{
        width: 100%;
    }

}